body {
    background-color: #9ed9e3;
}
h1{
    text-align: end;
}
.fucked-container .large {
    font-size: 50px;
    display: inline-block;
}
.fucked-container .medium {
    font-size: 30px;
    display: inline-block;
    position: relative;
    top: 15px;
}
.color-red {
    color: #f76864;
    margin-bottom: 0;
}

.color-red span {
    background-color: #fdfd24;
    color: black;
}

a {
    display: block;
}