<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<h1>SpringBasicExercise</h1>
<p>This is a paragraf</p>
<p class="color-red">This is <span>anothers</span> paragraf</p>
<div class="fucked-container">
    <p class="large">This is large!</p>
    <p class="medium">That was large...</p>
</div>
<a href="https://www.w3schools.com">Turtorials about HTML</a><br>
<img src="https://www.w3schools.com/images/picture.jpg" alt="My image here">
</body>
</html>